:root {
    // COLORS ------------
    --lightgrey-color: #f0edf5;
    --lightazure-color: #f1f9fb; 
    --lightyellow-color: #faf3e3;
    

    // TIPOGRAPHY ---------
    --text-color-violet: #55328b;
    --text-color-grey: #adafb7;
    --text-color-white: #ffffff;

}
